<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dandan.mybatis.generator.IMapper.OrderMapper">
  <resultMap id="BaseResultMap" type="com.dandan.mybatis.generator.pojo.Order">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="order_number" jdbcType="CHAR" property="orderNumber" />
    <result column="partner_order_number" jdbcType="CHAR" property="partnerOrderNumber" />

  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_order
    where "id" = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.dandan.mybatis.generator.pojo.Order">
    insert into t_order ("id", "order_number", "partner_order_number", 
      "user_expect_date", "user_expect_time_solt_id", "final_agree_date", 
      "final_agree_time_solt_id", "artisan_name", "artisan_mobile", 
      "artisan_address", "merchant_name", "merchant_contact_name", 
      "merchant_contact_phone_number", "is_authentication_merchant_order", 
      "merchant_authentication_name", "create_time", 
      "update_time", "publish_time", "grabing_time", 
      "confirm_address_time", "deliver_time", "receive_time", 
      "assigning_time", "sign_time", "serving_completed_time", 
      "customer_acceptance_time", "completed_time", 
      "sign_longitude", "sign_latitude", "is_grabbed", 
      "customer_prepay_amount", "grab_order_timestamp", 
      "artisan_income_amount", "artisan_reward_punishment_total_amount", 
      "artisan_taking_product_reward_amount", "artisan_agent_charge_reward_amount", 
      "artisan_service_amount", "artisan_distance_payment_amount", 
      "artisan_amendment_amount", "artisan_addition_amount", 
      "artisan_addition_amount_note", "artisan_extra_charge_addition_amount", 
      "artisan_service_total_score", "merchant_total_payment_amount", 
      "merchant_agent_charge_payment_amount", "merchant_service_discount_amount", 
      "merchant_service_payment_amount", "merchant_distance_payment_amount", 
      "merchant_addition_payment_amount", "merchant_addition_payment_amount_note", 
      "merchant_addition_payment_url1", "merchant_addition_payment_url2", 
      "merchant_addition_payment_url3", "merchant_agreement_url", 
      "order_estimate_max_amount", "order_income_amount", 
      "quality_assurance_days", "is_taking_product", "is_taking_goods", 
      "is_customer_payment", "customer_payment_success", "customer_addition_payment_amount", 
      "customer_addition_payment_amount_note", "customer_total_payment_amount", 
      "is_agent_charge", "agent_charge_amount", "delivery_order_number", 
      "delivery_receipt_url", "delivery_company_id", 
      "merchant_id", "dealer_full_name", "artisan_leader_id", 
      "artisan_id", "status_id", "status_begin_time", 
      "is_warning", "pending_process_time", "waiting_grab_processer_id", 
      "waiting_grab_processer_name", "processer_id", "processer_name", 
      "markup_number", "markup_interval_minutes", "markup_amount", 
      "created_by_id", "created_account_type_id", "visibility_id", 
      "process_step_code", "per_process_step_process_count", 
      "is_customer_reminder", "customer_reminder_time", 
      "is_conform_visit_condition", "conform_visit_condition_time", 
      "channel", "channel_order_number", "customer_channel_account", 
      "final_agree_time_start", "final_agree_time_end", "is_checkout_offline", 
      "reimbursement_artisan_id", "serve_artisan_phone_number", 
      "is_city_partner_created", "merchant_type", "service_provider_id", 
      "service_provider_name", "is_default_service_provider", 
      "is_red_packet_used", "is_remote", "order_tag_str", 
      "inner_tag_str", "is_team_order", "is_timeout_order", 
      "is_problem_order", "is_complaints_order", "is_artisan_extra_charge", 
      "is_praise_award_order", "customer_praise_award_amount", 
      "artisan_praise_award_amount", "customer_praise_award_amount_config", 
      "artisan_praise_award_amount_config", "is_extend_warranty_order", 
      "artisan_recommend_award_amount", "artisan_recommend_award_amount_config", 
      "extend_warranty_is_paid", "two_days_extend_warranty_push", 
      "two_days_extend_warranty_push_time", "spare_parts_clearing_type_code", 
      "unconfirmed_serving_time", "is_product_receiving", 
      "is_system_sing_product_receiving", "is_need_serving", 
      "send_order_sms_sign", "is_check_sign_photo", "note_picture", 
      "is_proprietary_merchant_created", "note", "employee_note", 
      "inner_label_note", "artisan_env_check_note", 
      "artisan_acceptance_note", "artisan_acceptance_json"
      )
    values (#{id,jdbcType=CHAR}, #{orderNumber,jdbcType=CHAR}, #{partnerOrderNumber,jdbcType=CHAR}, 
      #{userExpectDate,jdbcType=DATE}, #{userExpectTimeSoltId,jdbcType=INTEGER}, #{finalAgreeDate,jdbcType=DATE}, 
      #{finalAgreeTimeSoltId,jdbcType=INTEGER}, #{artisanName,jdbcType=VARCHAR}, #{artisanMobile,jdbcType=CHAR}, 
      #{artisanAddress,jdbcType=VARCHAR}, #{merchantName,jdbcType=CHAR}, #{merchantContactName,jdbcType=CHAR}, 
      #{merchantContactPhoneNumber,jdbcType=VARCHAR}, #{isAuthenticationMerchantOrder,jdbcType=CHAR}, 
      #{merchantAuthenticationName,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{publishTime,jdbcType=TIMESTAMP}, #{grabingTime,jdbcType=TIMESTAMP}, 
      #{confirmAddressTime,jdbcType=TIMESTAMP}, #{deliverTime,jdbcType=TIMESTAMP}, #{receiveTime,jdbcType=TIMESTAMP}, 
      #{assigningTime,jdbcType=TIMESTAMP}, #{signTime,jdbcType=TIMESTAMP}, #{servingCompletedTime,jdbcType=TIMESTAMP}, 
      #{customerAcceptanceTime,jdbcType=TIMESTAMP}, #{completedTime,jdbcType=TIMESTAMP}, 
      #{signLongitude,jdbcType=DECIMAL}, #{signLatitude,jdbcType=DECIMAL}, #{isGrabbed,jdbcType=CHAR}, 
      #{customerPrepayAmount,jdbcType=DECIMAL}, #{grabOrderTimestamp,jdbcType=BIGINT}, 
      #{artisanIncomeAmount,jdbcType=DECIMAL}, #{artisanRewardPunishmentTotalAmount,jdbcType=DECIMAL}, 
      #{artisanTakingProductRewardAmount,jdbcType=DECIMAL}, #{artisanAgentChargeRewardAmount,jdbcType=DECIMAL}, 
      #{artisanServiceAmount,jdbcType=DECIMAL}, #{artisanDistancePaymentAmount,jdbcType=DECIMAL}, 
      #{artisanAmendmentAmount,jdbcType=DECIMAL}, #{artisanAdditionAmount,jdbcType=DECIMAL}, 
      #{artisanAdditionAmountNote,jdbcType=VARCHAR}, #{artisanExtraChargeAdditionAmount,jdbcType=DECIMAL}, 
      #{artisanServiceTotalScore,jdbcType=INTEGER}, #{merchantTotalPaymentAmount,jdbcType=DECIMAL}, 
      #{merchantAgentChargePaymentAmount,jdbcType=DECIMAL}, #{merchantServiceDiscountAmount,jdbcType=DECIMAL}, 
      #{merchantServicePaymentAmount,jdbcType=DECIMAL}, #{merchantDistancePaymentAmount,jdbcType=DECIMAL}, 
      #{merchantAdditionPaymentAmount,jdbcType=DECIMAL}, #{merchantAdditionPaymentAmountNote,jdbcType=VARCHAR}, 
      #{merchantAdditionPaymentUrl1,jdbcType=VARCHAR}, #{merchantAdditionPaymentUrl2,jdbcType=VARCHAR}, 
      #{merchantAdditionPaymentUrl3,jdbcType=VARCHAR}, #{merchantAgreementUrl,jdbcType=VARCHAR}, 
      #{orderEstimateMaxAmount,jdbcType=DECIMAL}, #{orderIncomeAmount,jdbcType=DECIMAL}, 
      #{qualityAssuranceDays,jdbcType=INTEGER}, #{isTakingProduct,jdbcType=CHAR}, #{isTakingGoods,jdbcType=CHAR}, 
      #{isCustomerPayment,jdbcType=CHAR}, #{customerPaymentSuccess,jdbcType=CHAR}, #{customerAdditionPaymentAmount,jdbcType=DECIMAL}, 
      #{customerAdditionPaymentAmountNote,jdbcType=VARCHAR}, #{customerTotalPaymentAmount,jdbcType=DECIMAL}, 
      #{agentCharge,jdbcType=CHAR}, #{agentChargeAmount,jdbcType=DECIMAL}, #{deliveryOrderNumber,jdbcType=CHAR}, 
      #{deliveryReceiptUrl,jdbcType=VARCHAR}, #{deliveryCompanyId,jdbcType=INTEGER}, 
      #{merchantId,jdbcType=CHAR}, #{dealerFullName,jdbcType=CHAR}, #{artisanLeaderId,jdbcType=CHAR}, 
      #{artisanId,jdbcType=CHAR}, #{statusId,jdbcType=INTEGER}, #{statusBeginTime,jdbcType=TIMESTAMP}, 
      #{isWarning,jdbcType=CHAR}, #{pendingProcessTime,jdbcType=TIMESTAMP}, #{waitingGrabProcesserId,jdbcType=CHAR}, 
      #{waitingGrabProcesserName,jdbcType=VARCHAR}, #{processerId,jdbcType=CHAR}, #{processerName,jdbcType=VARCHAR}, 
      #{markupNumber,jdbcType=INTEGER}, #{markupIntervalMinutes,jdbcType=INTEGER}, #{markupAmount,jdbcType=DECIMAL}, 
      #{createdById,jdbcType=CHAR}, #{createdAccountTypeId,jdbcType=INTEGER}, #{visibilityId,jdbcType=INTEGER}, 
      #{processStepCode,jdbcType=CHAR}, #{perProcessStepProcessCount,jdbcType=INTEGER}, 
      #{isCustomerReminder,jdbcType=CHAR}, #{customerReminderTime,jdbcType=TIMESTAMP}, 
      #{isConformVisitCondition,jdbcType=CHAR}, #{conformVisitConditionTime,jdbcType=TIMESTAMP}, 
      #{channel,jdbcType=CHAR}, #{channelOrderNumber,jdbcType=CHAR}, #{customerChannelAccount,jdbcType=VARCHAR}, 
      #{finalAgreeTimeStart,jdbcType=TIME}, #{finalAgreeTimeEnd,jdbcType=TIME}, #{isCheckoutOffline,jdbcType=CHAR}, 
      #{reimbursementArtisanId,jdbcType=CHAR}, #{serveArtisanPhoneNumber,jdbcType=VARCHAR}, 
      #{isCityPartnerCreated,jdbcType=CHAR}, #{merchantType,jdbcType=CHAR}, #{serviceProviderId,jdbcType=VARCHAR}, 
      #{serviceProviderName,jdbcType=VARCHAR}, #{isDefaultServiceProvider,jdbcType=CHAR}, 
      #{isRedPacketUsed,jdbcType=CHAR}, #{isRemote,jdbcType=CHAR}, #{orderTagStr,jdbcType=VARCHAR}, 
      #{innerTagStr,jdbcType=VARCHAR}, #{isTeamOrder,jdbcType=CHAR}, #{isTimeoutOrder,jdbcType=CHAR}, 
      #{isProblemOrder,jdbcType=CHAR}, #{isComplaintsOrder,jdbcType=CHAR}, #{isArtisanExtraCharge,jdbcType=CHAR}, 
      #{isPraiseAwardOrder,jdbcType=CHAR}, #{customerPraiseAwardAmount,jdbcType=DECIMAL}, 
      #{artisanPraiseAwardAmount,jdbcType=DECIMAL}, #{customerPraiseAwardAmountConfig,jdbcType=DECIMAL}, 
      #{artisanPraiseAwardAmountConfig,jdbcType=DECIMAL}, #{isExtendWarrantyOrder,jdbcType=CHAR}, 
      #{artisanRecommendAwardAmount,jdbcType=DECIMAL}, #{artisanRecommendAwardAmountConfig,jdbcType=DECIMAL}, 
      #{extendWarrantyIsPaid,jdbcType=CHAR}, #{twoDaysExtendWarrantyPush,jdbcType=CHAR}, 
      #{twoDaysExtendWarrantyPushTime,jdbcType=TIMESTAMP}, #{sparePartsClearingTypeCode,jdbcType=CHAR}, 
      #{unconfirmedServingTime,jdbcType=VARCHAR}, #{isProductReceiving,jdbcType=VARCHAR}, 
      #{isSystemSingProductReceiving,jdbcType=CHAR}, #{isNeedServing,jdbcType=VARCHAR}, 
      #{sendOrderSmsSign,jdbcType=CHAR}, #{isCheckSignPhoto,jdbcType=CHAR}, #{notePicture,jdbcType=VARCHAR}, 
      #{isProprietaryMerchantCreated,jdbcType=CHAR}, #{note,jdbcType=LONGVARCHAR}, #{employeeNote,jdbcType=LONGVARCHAR}, 
      #{innerLabelNote,jdbcType=LONGVARCHAR}, #{artisanEnvCheckNote,jdbcType=LONGVARCHAR}, 
      #{artisanAcceptanceNote,jdbcType=LONGVARCHAR}, #{artisanAcceptanceJson,jdbcType=LONGVARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.dandan.mybatis.generator.pojo.Order">
    update t_order
    set "order_number" = #{orderNumber,jdbcType=CHAR},
      "partner_order_number" = #{partnerOrderNumber,jdbcType=CHAR},
      "user_expect_date" = #{userExpectDate,jdbcType=DATE},
      "user_expect_time_solt_id" = #{userExpectTimeSoltId,jdbcType=INTEGER},
      "final_agree_date" = #{finalAgreeDate,jdbcType=DATE},
      "final_agree_time_solt_id" = #{finalAgreeTimeSoltId,jdbcType=INTEGER},
      "artisan_name" = #{artisanName,jdbcType=VARCHAR},
      "artisan_mobile" = #{artisanMobile,jdbcType=CHAR},
      "artisan_address" = #{artisanAddress,jdbcType=VARCHAR},
      "merchant_name" = #{merchantName,jdbcType=CHAR},
      "merchant_contact_name" = #{merchantContactName,jdbcType=CHAR},
      "merchant_contact_phone_number" = #{merchantContactPhoneNumber,jdbcType=VARCHAR},
      "is_authentication_merchant_order" = #{isAuthenticationMerchantOrder,jdbcType=CHAR},
      "merchant_authentication_name" = #{merchantAuthenticationName,jdbcType=CHAR},
      "create_time" = #{createTime,jdbcType=TIMESTAMP},
      "update_time" = #{updateTime,jdbcType=TIMESTAMP},
      "publish_time" = #{publishTime,jdbcType=TIMESTAMP},
      "grabing_time" = #{grabingTime,jdbcType=TIMESTAMP},
      "confirm_address_time" = #{confirmAddressTime,jdbcType=TIMESTAMP},
      "deliver_time" = #{deliverTime,jdbcType=TIMESTAMP},
      "receive_time" = #{receiveTime,jdbcType=TIMESTAMP},
      "assigning_time" = #{assigningTime,jdbcType=TIMESTAMP},
      "sign_time" = #{signTime,jdbcType=TIMESTAMP},
      "serving_completed_time" = #{servingCompletedTime,jdbcType=TIMESTAMP},
      "customer_acceptance_time" = #{customerAcceptanceTime,jdbcType=TIMESTAMP},
      "completed_time" = #{completedTime,jdbcType=TIMESTAMP},
      "sign_longitude" = #{signLongitude,jdbcType=DECIMAL},
      "sign_latitude" = #{signLatitude,jdbcType=DECIMAL},
      "is_grabbed" = #{isGrabbed,jdbcType=CHAR},
      "customer_prepay_amount" = #{customerPrepayAmount,jdbcType=DECIMAL},
      "grab_order_timestamp" = #{grabOrderTimestamp,jdbcType=BIGINT},
      "artisan_income_amount" = #{artisanIncomeAmount,jdbcType=DECIMAL},
      "artisan_reward_punishment_total_amount" = #{artisanRewardPunishmentTotalAmount,jdbcType=DECIMAL},
      "artisan_taking_product_reward_amount" = #{artisanTakingProductRewardAmount,jdbcType=DECIMAL},
      "artisan_agent_charge_reward_amount" = #{artisanAgentChargeRewardAmount,jdbcType=DECIMAL},
      "artisan_service_amount" = #{artisanServiceAmount,jdbcType=DECIMAL},
      "artisan_distance_payment_amount" = #{artisanDistancePaymentAmount,jdbcType=DECIMAL},
      "artisan_amendment_amount" = #{artisanAmendmentAmount,jdbcType=DECIMAL},
      "artisan_addition_amount" = #{artisanAdditionAmount,jdbcType=DECIMAL},
      "artisan_addition_amount_note" = #{artisanAdditionAmountNote,jdbcType=VARCHAR},
      "artisan_extra_charge_addition_amount" = #{artisanExtraChargeAdditionAmount,jdbcType=DECIMAL},
      "artisan_service_total_score" = #{artisanServiceTotalScore,jdbcType=INTEGER},
      "merchant_total_payment_amount" = #{merchantTotalPaymentAmount,jdbcType=DECIMAL},
      "merchant_agent_charge_payment_amount" = #{merchantAgentChargePaymentAmount,jdbcType=DECIMAL},
      "merchant_service_discount_amount" = #{merchantServiceDiscountAmount,jdbcType=DECIMAL},
      "merchant_service_payment_amount" = #{merchantServicePaymentAmount,jdbcType=DECIMAL},
      "merchant_distance_payment_amount" = #{merchantDistancePaymentAmount,jdbcType=DECIMAL},
      "merchant_addition_payment_amount" = #{merchantAdditionPaymentAmount,jdbcType=DECIMAL},
      "merchant_addition_payment_amount_note" = #{merchantAdditionPaymentAmountNote,jdbcType=VARCHAR},
      "merchant_addition_payment_url1" = #{merchantAdditionPaymentUrl1,jdbcType=VARCHAR},
      "merchant_addition_payment_url2" = #{merchantAdditionPaymentUrl2,jdbcType=VARCHAR},
      "merchant_addition_payment_url3" = #{merchantAdditionPaymentUrl3,jdbcType=VARCHAR},
      "merchant_agreement_url" = #{merchantAgreementUrl,jdbcType=VARCHAR},
      "order_estimate_max_amount" = #{orderEstimateMaxAmount,jdbcType=DECIMAL},
      "order_income_amount" = #{orderIncomeAmount,jdbcType=DECIMAL},
      "quality_assurance_days" = #{qualityAssuranceDays,jdbcType=INTEGER},
      "is_taking_product" = #{isTakingProduct,jdbcType=CHAR},
      "is_taking_goods" = #{isTakingGoods,jdbcType=CHAR},
      "is_customer_payment" = #{isCustomerPayment,jdbcType=CHAR},
      "customer_payment_success" = #{customerPaymentSuccess,jdbcType=CHAR},
      "customer_addition_payment_amount" = #{customerAdditionPaymentAmount,jdbcType=DECIMAL},
      "customer_addition_payment_amount_note" = #{customerAdditionPaymentAmountNote,jdbcType=VARCHAR},
      "customer_total_payment_amount" = #{customerTotalPaymentAmount,jdbcType=DECIMAL},
      "is_agent_charge" = #{agentCharge,jdbcType=CHAR},
      "agent_charge_amount" = #{agentChargeAmount,jdbcType=DECIMAL},
      "delivery_order_number" = #{deliveryOrderNumber,jdbcType=CHAR},
      "delivery_receipt_url" = #{deliveryReceiptUrl,jdbcType=VARCHAR},
      "delivery_company_id" = #{deliveryCompanyId,jdbcType=INTEGER},
      "merchant_id" = #{merchantId,jdbcType=CHAR},
      "dealer_full_name" = #{dealerFullName,jdbcType=CHAR},
      "artisan_leader_id" = #{artisanLeaderId,jdbcType=CHAR},
      "artisan_id" = #{artisanId,jdbcType=CHAR},
      "status_id" = #{statusId,jdbcType=INTEGER},
      "status_begin_time" = #{statusBeginTime,jdbcType=TIMESTAMP},
      "is_warning" = #{isWarning,jdbcType=CHAR},
      "pending_process_time" = #{pendingProcessTime,jdbcType=TIMESTAMP},
      "waiting_grab_processer_id" = #{waitingGrabProcesserId,jdbcType=CHAR},
      "waiting_grab_processer_name" = #{waitingGrabProcesserName,jdbcType=VARCHAR},
      "processer_id" = #{processerId,jdbcType=CHAR},
      "processer_name" = #{processerName,jdbcType=VARCHAR},
      "markup_number" = #{markupNumber,jdbcType=INTEGER},
      "markup_interval_minutes" = #{markupIntervalMinutes,jdbcType=INTEGER},
      "markup_amount" = #{markupAmount,jdbcType=DECIMAL},
      "created_by_id" = #{createdById,jdbcType=CHAR},
      "created_account_type_id" = #{createdAccountTypeId,jdbcType=INTEGER},
      "visibility_id" = #{visibilityId,jdbcType=INTEGER},
      "process_step_code" = #{processStepCode,jdbcType=CHAR},
      "per_process_step_process_count" = #{perProcessStepProcessCount,jdbcType=INTEGER},
      "is_customer_reminder" = #{isCustomerReminder,jdbcType=CHAR},
      "customer_reminder_time" = #{customerReminderTime,jdbcType=TIMESTAMP},
      "is_conform_visit_condition" = #{isConformVisitCondition,jdbcType=CHAR},
      "conform_visit_condition_time" = #{conformVisitConditionTime,jdbcType=TIMESTAMP},
      "channel" = #{channel,jdbcType=CHAR},
      "channel_order_number" = #{channelOrderNumber,jdbcType=CHAR},
      "customer_channel_account" = #{customerChannelAccount,jdbcType=VARCHAR},
      "final_agree_time_start" = #{finalAgreeTimeStart,jdbcType=TIME},
      "final_agree_time_end" = #{finalAgreeTimeEnd,jdbcType=TIME},
      "is_checkout_offline" = #{isCheckoutOffline,jdbcType=CHAR},
      "reimbursement_artisan_id" = #{reimbursementArtisanId,jdbcType=CHAR},
      "serve_artisan_phone_number" = #{serveArtisanPhoneNumber,jdbcType=VARCHAR},
      "is_city_partner_created" = #{isCityPartnerCreated,jdbcType=CHAR},
      "merchant_type" = #{merchantType,jdbcType=CHAR},
      "service_provider_id" = #{serviceProviderId,jdbcType=VARCHAR},
      "service_provider_name" = #{serviceProviderName,jdbcType=VARCHAR},
      "is_default_service_provider" = #{isDefaultServiceProvider,jdbcType=CHAR},
      "is_red_packet_used" = #{isRedPacketUsed,jdbcType=CHAR},
      "is_remote" = #{isRemote,jdbcType=CHAR},
      "order_tag_str" = #{orderTagStr,jdbcType=VARCHAR},
      "inner_tag_str" = #{innerTagStr,jdbcType=VARCHAR},
      "is_team_order" = #{isTeamOrder,jdbcType=CHAR},
      "is_timeout_order" = #{isTimeoutOrder,jdbcType=CHAR},
      "is_problem_order" = #{isProblemOrder,jdbcType=CHAR},
      "is_complaints_order" = #{isComplaintsOrder,jdbcType=CHAR},
      "is_artisan_extra_charge" = #{isArtisanExtraCharge,jdbcType=CHAR},
      "is_praise_award_order" = #{isPraiseAwardOrder,jdbcType=CHAR},
      "customer_praise_award_amount" = #{customerPraiseAwardAmount,jdbcType=DECIMAL},
      "artisan_praise_award_amount" = #{artisanPraiseAwardAmount,jdbcType=DECIMAL},
      "customer_praise_award_amount_config" = #{customerPraiseAwardAmountConfig,jdbcType=DECIMAL},
      "artisan_praise_award_amount_config" = #{artisanPraiseAwardAmountConfig,jdbcType=DECIMAL},
      "is_extend_warranty_order" = #{isExtendWarrantyOrder,jdbcType=CHAR},
      "artisan_recommend_award_amount" = #{artisanRecommendAwardAmount,jdbcType=DECIMAL},
      "artisan_recommend_award_amount_config" = #{artisanRecommendAwardAmountConfig,jdbcType=DECIMAL},
      "extend_warranty_is_paid" = #{extendWarrantyIsPaid,jdbcType=CHAR},
      "two_days_extend_warranty_push" = #{twoDaysExtendWarrantyPush,jdbcType=CHAR},
      "two_days_extend_warranty_push_time" = #{twoDaysExtendWarrantyPushTime,jdbcType=TIMESTAMP},
      "spare_parts_clearing_type_code" = #{sparePartsClearingTypeCode,jdbcType=CHAR},
      "unconfirmed_serving_time" = #{unconfirmedServingTime,jdbcType=VARCHAR},
      "is_product_receiving" = #{isProductReceiving,jdbcType=VARCHAR},
      "is_system_sing_product_receiving" = #{isSystemSingProductReceiving,jdbcType=CHAR},
      "is_need_serving" = #{isNeedServing,jdbcType=VARCHAR},
      "send_order_sms_sign" = #{sendOrderSmsSign,jdbcType=CHAR},
      "is_check_sign_photo" = #{isCheckSignPhoto,jdbcType=CHAR},
      "note_picture" = #{notePicture,jdbcType=VARCHAR},
      "is_proprietary_merchant_created" = #{isProprietaryMerchantCreated,jdbcType=CHAR},
      "note" = #{note,jdbcType=LONGVARCHAR},
      "employee_note" = #{employeeNote,jdbcType=LONGVARCHAR},
      "inner_label_note" = #{innerLabelNote,jdbcType=LONGVARCHAR},
      "artisan_env_check_note" = #{artisanEnvCheckNote,jdbcType=LONGVARCHAR},
      "artisan_acceptance_note" = #{artisanAcceptanceNote,jdbcType=LONGVARCHAR},
      "artisan_acceptance_json" = #{artisanAcceptanceJson,jdbcType=LONGVARCHAR}
    where "id" = #{id,jdbcType=CHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, order_number, partner_order_number
    from t_order
    where id = #{id,jdbcType=CHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select "id", "order_number", "partner_order_number", "user_expect_date", "user_expect_time_solt_id", 
    "final_agree_date", "final_agree_time_solt_id", "artisan_name", "artisan_mobile", 
    "artisan_address", "merchant_name", "merchant_contact_name", "merchant_contact_phone_number", 
    "is_authentication_merchant_order", "merchant_authentication_name", "create_time", 
    "update_time", "publish_time", "grabing_time", "confirm_address_time", "deliver_time", 
    "receive_time", "assigning_time", "sign_time", "serving_completed_time", "customer_acceptance_time", 
    "completed_time", "sign_longitude", "sign_latitude", "is_grabbed", "customer_prepay_amount", 
    "grab_order_timestamp", "artisan_income_amount", "artisan_reward_punishment_total_amount", 
    "artisan_taking_product_reward_amount", "artisan_agent_charge_reward_amount", "artisan_service_amount", 
    "artisan_distance_payment_amount", "artisan_amendment_amount", "artisan_addition_amount", 
    "artisan_addition_amount_note", "artisan_extra_charge_addition_amount", "artisan_service_total_score", 
    "merchant_total_payment_amount", "merchant_agent_charge_payment_amount", "merchant_service_discount_amount", 
    "merchant_service_payment_amount", "merchant_distance_payment_amount", "merchant_addition_payment_amount", 
    "merchant_addition_payment_amount_note", "merchant_addition_payment_url1", "merchant_addition_payment_url2", 
    "merchant_addition_payment_url3", "merchant_agreement_url", "order_estimate_max_amount", 
    "order_income_amount", "quality_assurance_days", "is_taking_product", "is_taking_goods", 
    "is_customer_payment", "customer_payment_success", "customer_addition_payment_amount", 
    "customer_addition_payment_amount_note", "customer_total_payment_amount", "is_agent_charge", 
    "agent_charge_amount", "delivery_order_number", "delivery_receipt_url", "delivery_company_id", 
    "merchant_id", "dealer_full_name", "artisan_leader_id", "artisan_id", "status_id", 
    "status_begin_time", "is_warning", "pending_process_time", "waiting_grab_processer_id", 
    "waiting_grab_processer_name", "processer_id", "processer_name", "markup_number", 
    "markup_interval_minutes", "markup_amount", "created_by_id", "created_account_type_id", 
    "visibility_id", "process_step_code", "per_process_step_process_count", "is_customer_reminder", 
    "customer_reminder_time", "is_conform_visit_condition", "conform_visit_condition_time", 
    "channel", "channel_order_number", "customer_channel_account", "final_agree_time_start", 
    "final_agree_time_end", "is_checkout_offline", "reimbursement_artisan_id", "serve_artisan_phone_number", 
    "is_city_partner_created", "merchant_type", "service_provider_id", "service_provider_name", 
    "is_default_service_provider", "is_red_packet_used", "is_remote", "order_tag_str", 
    "inner_tag_str", "is_team_order", "is_timeout_order", "is_problem_order", "is_complaints_order", 
    "is_artisan_extra_charge", "is_praise_award_order", "customer_praise_award_amount", 
    "artisan_praise_award_amount", "customer_praise_award_amount_config", "artisan_praise_award_amount_config", 
    "is_extend_warranty_order", "artisan_recommend_award_amount", "artisan_recommend_award_amount_config", 
    "extend_warranty_is_paid", "two_days_extend_warranty_push", "two_days_extend_warranty_push_time", 
    "spare_parts_clearing_type_code", "unconfirmed_serving_time", "is_product_receiving", 
    "is_system_sing_product_receiving", "is_need_serving", "send_order_sms_sign", "is_check_sign_photo", 
    "note_picture", "is_proprietary_merchant_created", "note", "employee_note", "inner_label_note", 
    "artisan_env_check_note", "artisan_acceptance_note", "artisan_acceptance_json"
    from t_order
  </select>
</mapper>